.visible {
	visibility: visible;
}

.modal-content {
    width: 450px;
    height: 250px;
    background-color:#fff;
    margin: 200px auto 0 auto;
    border: 1px solid #E2E9F0;
}

.modal-content h1 {
    /*color: #E2E9F0;*/
    font-size: 1.1em;
    margin-bottom: 20px;
}

.modal-content p {
    margin-bottom: 20px;
}

.button-container {
    padding: 20px;
}

.modal-content button {
    float: right;
    margin-left: 10px;
}

.modal-title, .modal-p {
    height: 40px;
    line-height: 40px;
    padding: 20px;
}

.modal-title {
    border-bottom: 1px solid #E2E9F0;
}


.modal-p {
    text-align: center;
}

.modal-content button {
    font-size: .8em;
    background-color: white;
    padding: 1em;
    border-radius: 2px;
    border: 1px solid #99AFC6;
    color:#99AFC6;
    float: right;
    margin-left: 1em;
    -webkit-transition: background-color 300ms, color 300ms, border-color 300ms; /* Safari */
    transition: background-color 300ms, color 300ms, border-color 300ms;
    cursor: pointer;
}

.modal-content button.verwijderen:hover {
    background-color: #EB1312 !important;
    color: white;
    border-color: #EB1312;
}

.modal-content button.annuleren:hover {
    background-color: #99AFC6;
    color: white;
    border-color: #99AFC6;
}