.form_block{
  padding: 1em;
}

.table-header-container {
  padding-left: 2em;
}

form {
    border: 1px solid #E2E9F0;
}

.form_container{
  display: grid;
  margin-right: 3em;
  grid-template-columns: 50% 50%;
  padding: 15px;
  font-size: .85em;
  font-weight: 500;
}

.form_block {
	display: inline-block;
	padding-right: 2em;
}

.form_full_length{
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 50%;
}

input[type=text], input[type=password],
input[type=email], select#role, select#customer,
select#vm_name_from, select#bidirectional, select#vm_name_to, #test_description {
  width: 100%;
  padding: 12px 20px;
  margin-top: 0.8em;
  display: inline-block;
  border: 1px solid #E2E9F0;
  border-radius: 2px !important;
  box-sizing: border-box;
}

input {
  color: #8e8e8e;
}

#role, #customer, #vm_name_from, #bidirectional, #vm_name_to {
  cursor: pointer;
  height: 40px;
  background-color: white;
}

.error_message{
  display: inline-block;
  width: 100%;
  font-family: Helvetica, Arial;
  font-size: 90%;
  font-style: italic;
  color:red;
  margin-top: 0.5em;
  padding-right: 4em;
}

.buttons_bottom {
  min-height: 50px;
  background-color: #fff;
  padding: 1em;
  border-left: 1px solid #E2E9F0;
  border-right: 1px solid #E2E9F0;
  border-bottom: 1px solid #E2E9F0;
}

button, label div {
	text-align: center;
  font-size: .8em;
	background-color: white;
	padding: 1em;
  border-radius: 2px;
  border: 1px solid #99AFC6;
	color:#99AFC6;
  float: right;
  margin-left: 1em;
  -webkit-transition: background-color 300ms, color 300ms, border-color 300ms; /* Safari */
  transition: background-color 300ms, color 300ms, border-color 300ms;
}

button.aanmaken, button.btn-user-save {
    color: #fff;
    background-color: #99AFC6;
}

button:hover {
  cursor: pointer;
}

button.annuleren:hover, button.btn-user-delete:hover {
  background-color: #EB1312;
  color: white;
  border-color: #EB1312;
}

button.btn-user-cancel:hover, label div:hover {
  color: #fff;
  background-color: #99AFC6;
  text-align: center;
}

button.aanmaken:hover, button.btn-user-save:hover {
  background-color: #54ce54;
  color: white;
  border-color: #54ce54;
  text-align: center;
}

.table-header-container {
  padding: 15px;
  border-top: 1px solid #E2E9F0;
  border-left: 1px solid #E2E9F0;
  border-right: 1px solid #E2E9F0;
  height: 38px;
  line-height: 38px;
}

.tabel-header {
  font-size: 1.1em;
  display: inline;
}

/* FILE UPLOAD */

input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label div {
	box-sizing: border-box;
	margin-left: 0;
	margin-top: 0.8em;
	float: none;
	font-size: 13px;
	padding-right: 2em;
}

label {
	width: 100%;
}

/******* ENV_VM_RELATION_CREATE *******/

#dynamic_input, #extra_fields div {
    margin-top: 15px;
    background-color: #FAFBFD;
    margin-right: 10%;
    position: relative;
}

#add-relationship-btn {
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    vertical-align: center;
}


.material-icons {
    cursor: pointer;
}

#del-relationship-btn {
    position: absolute;
    top: 0;
    right: 0;
}

