/********* COLORS *********
background grey: #F2F6FA
header border: #D9DCDF
table borders color: #E2E9F0
background color highlighted table rows #FAFCFD
button backgroud color: #99AFC6
nav txt color: #707070
red: #EB1114
*/

/********* GENERAL STYLING *********/

body {
    background-color: #F2F6FA;
    font-family: Helvetica, Arial;
    color: #4A4A4A;
    position: relative;
}

a {
    color: #4A4A4A;
    text-decoration: none; 
}

a:hover {
    color: #EB1114;
}

/********* HEADER STYLING *********/
header {
    background-color: #ffffff;
    border-bottom: solid 1px #D9DCDF;
    margin-bottom: 30px;
    vertical-align: middle;
    height: 63px;
    padding: 0 15px;
}

#content {
    margin-bottom: 30px;
}

.container {
    max-width: 1100px;
    margin: 0 auto 0 auto;
    
}

.logo {
    max-width: 200px;
    float: left;
}

header ul {
    display: inline;
    float: left;
    margin-left: 50px;
}

header li {
    
    display: inline-block;
    height: 63px;
    line-height: 63px;
    margin-left: 40px;
}

header li, header a {
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}

header li:hover, header a.uitloggen-link-header:hover, li.active {
    color: #EB1114;
    border-bottom: 2px solid #EB1114;
}

li.active a {
    color: #EB1114;
}

header a {
    display: inline-block;
    height: 63px;
    line-height: 63px;
    float: right;
}

/********* CONTENT STYLING *********/

#content {
    background-color: #fff;
}

/********* TABLE STYLING *********/

.table-header-container {
    padding: 15px;
    border-top: 1px solid #E2E9F0;
    border-left: 1px solid #E2E9F0;
    border-right: 1px solid #E2E9F0;
    height: 38px;
    line-height: 38px;
}

.tabel-header {
    font-size: 1.1em;
    display: inline;
}

.table-header-container a {
    float: right;
    border-radius: 2px;
    background-color: #99AFC6;
    padding: 15px;
    color: #fff;
    font-size: .7em;
    line-height: .7em;
    vertical-align: middle;
    font-weight: 600;
}

.table-header-container a:hover {
	background-color: #54ce54;
	transition: background-color: 300ms, color: 300ms, border-color: 300ms;
	-webkit-transition: background-color: 300ms, color: 300ms, border-color: 300ms; /* Safari */
}

table {
    padding: 20px;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border: 1px solid #E2E9F0;
}

th {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .65em;
}

th, td {
    padding: 15px 20px;   
}

td {
    font-size: .7em;   
	vertical-align: middle;
}

thead tr {
    background-color: #FAFCFD; 
}

tbody tr:nth-child(even) {
    background-color: #FAFCFD;
}

tr {
    border-bottom: 1px solid #E2E9F0;  
}

.img-remove {
    cursor: pointer;
}

/********* MODAL STYLING *********/

.modal {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(100, 100, 100, .7);
    height: 100%;
    width: 100%;
    visibility: hidden;
    
}

#modal-content {
    width: 450px;
    height: 250px;
    background-color:#fff;
    margin: 200px auto 0 auto;
    border: 1px solid #E2E9F0;
}

#modal-content h1 {
    /*color: #E2E9F0;*/
    font-size: 1.1em;
    margin-bottom: 20px;
}

#modal-content p {
    margin-bottom: 20px;
}

#button-container {
    padding: 20px;
}

#modal-content button {
    float: right;
    margin-left: 10px;
}

#modal-title, #modal-p {
    height: 40px;
    line-height: 40px;
    padding: 20px;
}

#modal-title {
    border-bottom: 1px solid #E2E9F0;
}


#modal-p {
    text-align: center;
}

#modal-content button {
    font-size: .8em;
      background-color: white;
      padding: 1em;
    border-radius: 2px;
    border: 1px solid #99AFC6;
      color:#99AFC6;
    float: right;
    margin-left: 1em;
    -webkit-transition: background-color 300ms, color 300ms, border-color 300ms; /* Safari */
    transition: background-color 300ms, color 300ms, border-color 300ms;
    cursor: pointer;
}

#modal-content button.verwijderen:hover {
    background-color: #EB1312 !important;
    color: white;
    border-color: #EB1312;
}

#modal-content button.annuleren:hover {
    background-color: #99AFC6;
    color: white;
    border-color: #99AFC6;
}

/********* ICON LINK *********/

.icon-link {
	display: inline-block;
	height: 1.3em;
	border: none;
	background-size: cover;
}

.icon-link:hover {
	cursor: pointer;
}

.edit-icon {
	width: 1.3em;
	background-image: url('../img/edit_pencil.png');
}

.edit-icon:hover {
	background-image: url('../img/edit-hover.png');
}

.delete-icon {
	width: 1.1em;
	background-image: url('../img/delete.png');
}

.delete-icon:hover {
	background-image: url('../img/delete-hover.png');
}