.system-overview-header-container {
    padding: 15px;
    color: black;
    border-top: 1px solid #D9DCDF;
    border-left: 1px solid #D9DCDF;
    border-right: 1px solid #D9DCDF;
    height: 38px;
    line-height: 38px;
}

.system-overview-header-container h1 {
    color: #4a4a4a;
    font-size: 1.1em;
    float: left;
}

.system-overview-servers-container {
    border-left: 1px solid #D9DCDF;
    border-right: 1px solid #D9DCDF;
    border-down: 1px solid #D9DCDF;
    padding-bottom: 20px;
}

#server {
    box-sizing: border-box;
    background-color: #F2F6FA;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
    padding: 10px;
    min-width: 46%;
    display: inline-block;
    position: relative;
}

.server-img {
    display: inline-block;
    vertical-align: top;
}

.server-info {
    display: inline-block;
    margin-left: 10px;
}

.server-name {
    font-size: smaller;
    font-weight: 700;
    padding: 5px;
}

.server-info-top {
    padding: 3px;
}

.server-info-bottom {
    padding: 3px;
}

.key-value:first-child {
    min-width: 100px;
}

.server-info-top {
    min-width: 3px;
}

.key {
    font-weight: 600;
    font-size: .7em;
    display: inline-block;
}

.value {
    font-size: .7em;
    display: inline-block;
}

.key-value {
    display: inline-block;
}

#message-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
}

#no_environments {
    width: 300px;
    margin: 200px auto;
    text-align: center;
    background-color: #ffffff;
    padding: 40px 10px;
    color: #707070;
    vertical-align: center;
    -webkit-box-shadow: -3px 2px 110px 4px rgba(214,214,214,1);
    -moz-box-shadow: -3px 2px 110px 4px rgba(214,214,214,1);
    box-shadow: -3px 2px 110px 4px rgba(214,214,214,1);
}