# Rewrite urls - remove php extension
RewriteEngine On
Options +FollowSymLinks

# Rewrite user pages

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^user-new/?$ user.php?action=new [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^user-edit/?$ user.php?action=edit [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^user-edit-([^\.]+)/?$ user.php?action=edit&id=$1 [L]

# Rewrite other urls

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Make login default landing page for this dir
DirectoryIndex login.php

# Error pages
ErrorDocument 403 "<!doctype><html><head><title>Error 403</title><style>body{font-family: Papyrus; background-color: darkgreen;}</style></head><body><h1>Error 403</h1><p>Of je bent hier per ongeluk terecht gekomen, of je weet precies wat je aan het doen bent. In beide gevallen: opdonderen.</p><img src='https://media.giphy.com/media/E6y0A4wUIC71m/giphy.gif' /></body></html>"
ErrorDocument 404 "<!doctype><html><head><title>Error 404</title><style>body{font-family: Papyrus; background-color: darkgreen;}</style></head><body><h1>Error 404</h1><p>Pagina niet gevonden.</p><img src='https://media.giphy.com/media/yQWkWLGL120so/giphy.gif' /></body></html>"
ErrorDocument 500 "<!doctype><html><head><title>Error 500</title><style>body{font-family: Papyrus; background-color: darkgreen;}</style></head><body><h1>Error 500</h1><p>Er is een fout opgetreden.</p><img src='https://media.giphy.com/media/GjonBzjN5b0Zy/giphy.gif' /></body></html>"