RewriteEngine on
# RewriteRule ^([a-z]+)\/?$ public/$1.php [NC]
RewriteRule ^userlist$ public/userlist.php [L]
RewriteRule ^systemoverview$ public/systemoverview.php [L]
RewriteRule ^createuser$ public/createuser.php [L]
RewriteRule ^login$ public/login.php [L]

<Files .htaccess>
order allow,deny
deny from all
</Files>